.form-avatar-group__container {
  margin-bottom: 3rem;
}

.edit-profile--img {
  width: 12.5rem;
  height: 12.5rem;
  margin: 0 auto 3rem;
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

.form__file-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 0;
  text-align: center;
  gap: 1rem;
}

.form__label-file {
  background: var(--red-glow);
  color: #001534;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  display: block;
}

.form__input-file {
  display: none;
}

.button__add-skill--icon {
  width: 2rem;
  height: 2rem;
}

.button__add-skill--text {
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
}
