//
.explore--container {
  margin-top: 1.7rem;
  max-width: 109rem;
  margin: 3rem auto 0;

  @include respon(xl) {
    margin: 4.5rem auto 0;
  }
}

//
.project--container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));

  @include respon(sm) {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  }

  @include respon(md) {
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  }

  @include respon(xl) {
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  }

  gap: 2rem;
}

//
.explore__top--container {
  text-align: center;
  margin-bottom: 3rem;

  @include respon(xl) {
    margin-bottom: 7.2rem;
  }
}

.explore__top--h1 {
  margin-top: 0;
  font-size: 2.4rem;
  font-weight: 500;
}

.explore__top--search {
  background-color: #f1f1f1;
  border-radius: 1rem;
  width: 100%;
  height: 4.5rem;
  border: transparent;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.65;

  &::placeholder {
    color: rgba(#000000, 0.5);
  }
}

.explore__search--container {
  max-width: 79rem;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.explore__search--form {
  width: 100%;
}

.explore__search--button {
  margin-left: auto;
  border: unset;
  border-radius: 1rem;
  width: 18rem;
  background-color: var(--dark-blue);
  color: white;

  @include respon(xl) {
    font-size: 1.8rem;
  }
}

//
.explore__main--container {
  margin-bottom: 2.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & .icon {
    background: var(--dark-blue);
    color: #ffffff;
    width: auto;
    height: 3rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    display: flex;

    @include respon(xl) {
      height: 3.5rem;
      padding: 0.8rem;
    }

    & svg {
      height: 2.4rem;
      width: 2.4rem;
    }
  }
}

.explore__main--h2 {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;

  @include respon(xl) {
    font-size: 3.6rem;
  }
}

.btn__load-more {
  margin: 3rem auto 0;

  @include respon(xl) {
    min-width: 23rem;
  }
}

.content-placeholders-container {
  margin-bottom: 1rem;
}

.explore--filter {
  @include respon(xl) {
    border-top: 1px solid #b0aeae;
    border-bottom: 1px solid #b0aeae;
    padding: 1.2rem 0;
  }
}
