.inbox__info--container {
  margin-top: 1rem;
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F2F4F6;
  border-radius: 2rem;
  box-shadow: 0px 2px 6px rgba(119, 114, 114, 0.2);
  padding: 2rem 1rem;

  @include respon(s) {
    padding: 1.5rem 2.5rem 1.5rem 1.5rem;
    flex-direction: row;
  }
}

.inbox--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inbox--top-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inbox--left-icon {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.inbox--heading {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}

.inbox--right-icon {
  width: 3rem;
  height: 3rem;
  padding: 0.3rem;
  border: 0.05rem  solid #B0AEAE;
  border-radius: 0.5rem;
  color: #B0AEAE;
}

.inbox--container {
  display: flex;
  flex-direction: column;

  & > :not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

