.topboard__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.2rem;
  letter-spacing: 0.02em;
  margin: 2rem -3rem;
  width: 100vw;
}

.topboard-list_container {
  // display: grid;
  // grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
  // justify-content: center;
  display: flex;
  width: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;

  user-select: none;

  & > * + * {
    margin-left: 2rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @include respon(xl) {
    overflow-x: unset;
    justify-content: center;
  }
}

.topboard-list_container--leaderboard {
  @include respon(xl) {
    margin: 6rem 0;
  }
}

.topboard-list--showAll {
  @include respon(xl) {
    display: flex;
    justify-content: center;
  }
}

.topboard-list__nav--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.topboard-list__nav {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 25.6rem;
}

.topboard-list__nav--item {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.topboard-item {
  // width: 21.5rem;
  min-width: 21.5rem;
  max-width: 25rem;
  min-height: 35rem;
  background: #f2f4f6;
  border-radius: 1rem;
  padding: 1.2rem 1.7rem 2.5rem;
  opacity: 0.25;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: center;
  user-select: none;
  color: #001534;
  transition: all 0.3s;

  @include respon(xl) {
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
}

.topboard-item--home {
  @include respon(xl) {
    &:hover {
      opacity: 1;
      cursor: unset;
    }
  }
}

.leaderboard-item--active {
  opacity: 1;
  user-select: unset;

  @include respon(xl) {
    &:hover {
      opacity: 1;
      cursor: unset;
    }

    margin: 0 2rem 0 4rem;
    transform: scale(1.23255814);
    min-width: 22.5rem;
  }
}

.topboard-item__title--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  & > * + * {
    margin-left: 1.2rem;
  }
}

.topboard-item__title--icon {
  width: 3rem;
  height: 3rem;
}

.topboard-item__title--name {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}

.topboard-item__avatar--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -3.6rem;
  // position: absolute;
}

.topboard-item__avatar--rank {
  position: relative;
  border-radius: 50%;
  background: var(--dark-blue);
  color: white;
  width: 5.4rem;
  height: 5.4rem;
  top: 5.2rem;
  left: 5.5rem;
  font-size: 2.4rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topboard-item__avatar--img {
  border-radius: 50%;
  width: 10.8rem;
  height: 10.8rem;
  border: 0.8rem solid var(--dark-blue);
  box-sizing: content-box;
  background-image: url("/images/missing-avatar.svg");
  background-size: cover;
}

.topboard-item__avatar--points {
  font-size: 1.2rem;
  font-weight: 800;
  position: relative;
  width: 12.5rem;
  height: 2.4rem;
  bottom: 2rem;
  background: var(--dark-blue);
  color: white;
  box-shadow: 0.2rem 0.4rem 0.8rem rgba(0, 33, 77, 0.3);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topboard-item__identifier {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}

.topboard-item__identifier-name {
  font-weight: bold;
  font-size: 1.8rem;
}

.topboard-item__identifier-expertise {
  font-weight: 600;
  font-size: 1.8rem;
}

.topboard-item__fact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.4rem;

  & > * + * {
    margin-left: 0.5rem;
  }
}

.topboard-item__fact--icon {
  width: 4.5rem;
  height: 4.5rem;
}

.topboard-item__fact--name {
  font-size: 1.3rem;
  font-weight: bold;
  width: 7.2rem;
}

.topboard-item__view-button {
  width: 13rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
  background: var(--dark-blue);
  color: white;
  margin: 0 auto;

  &:active,
  &:focus {
    outline: none;
    // border: none;
  }
}

.leaderboard-body__container {
  max-width: 100rem;
  margin: 0 auto;
}

.leaderboard-items__container {
  & > * + * {
    margin-top: 1.3rem;
  }

  @include respon(xl) {
    & > * + * {
      margin-top: 2rem;
    }
  }
}

.leaderboard-item__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f2f4f6;
  padding: 1.3rem 1.5rem;
  align-items: center;
  border-radius: 1rem;

  @include respon(xl) {
    padding: 2.3rem 3rem;
  }
}

.leaderboard-item__left-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > * + * {
    margin-left: 1.6rem;
  }

  @include respon(xl) {
    & > * + * {
      margin-left: 2.8rem;
    }
  }
}

.leaderboard-item__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // height: 6.5rem;
  line-height: 1.85rem;

  & > * + * {
    margin-top: 0.7rem;
  }

  @include respon(xl) {
    & > * + * {
      margin-top: 1.4rem;
    }
  }
}

.leaderboard-item__body-top {
  // & > * + * {
  //   margin-top: 0.4rem;
  // }

  @include respon(xl) {
    & > * + * {
      margin-top: 1rem;
    }
  }
}

.leaderboard-item__img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: url("/images/missing-avatar.svg");
  background-size: cover;

  @include respon(xl) {
    width: 9rem;
    height: 9rem;
  }
}

.leaderboard-item__name {
  font-size: 1.4rem;
  font-weight: 800;

  @include respon(xl) {
    font-size: 2.4rem;
    font-weight: 700;
  }
}

.leaderboard-item__expertise {
  font-size: 1.4rem;
  font-weight: 600;

  @include respon(xl) {
    font-size: 2.4rem;
    font-weight: 400;
  }
}

.leaderboard-item__stat {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > * + * {
    margin-left: 0.5rem;
  }

  @include respon(xl) {
    & > * + * {
      margin-left: 1rem;
    }
  }
}

.leaderboard-item__stat-icon {
  width: 2rem;
  height: 2rem;
  filter: drop-shadow(0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));

  @include respon(xl) {
    width: 3rem;
    height: 3rem;
  }
}

.leaderboard-item__stat-text {
  font-weight: bold;
  font-size: 1.2rem;

  @include respon(xl) {
    font-size: 1.8rem;
  }
}

.leaderboard-item__points-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  @include respon(xl) {
    padding: 1.4rem 1.3rem;
    border-top: 0.1rem solid var(--dark-blue);
    border-right: 0.1rem solid var(--dark-blue);
    border-bottom: 0.1rem solid var(--dark-blue);
    border-left: 0.5rem solid var(--dark-blue);
    border-radius: 1rem;
  }
}

.leaderboard-item__points--number {
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;

  @include respon(sm) {
    font-size: 2.3rem;
  }
}

.leaderboard-item__points--text {
  font-size: 1.3rem;
  font-weight: 800;
  text-transform: uppercase;

  @include respon(sm) {
    font-size: 1.8rem;
  }
}

.leaderboard__h1 {
  font-size: 4.8rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.leaderboard__h2 {
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
