.leaderboard__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.2rem;
  letter-spacing: 0.02em;

  margin: 2rem -3rem;
}

.lederboard-list_container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr ;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  & > * + * {
    margin-left: 2rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.leaderboard-list__nav--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.leaderboard-list__nav {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 25.6rem;
}

.leaderboard-list__nav--item {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.leaderboard-item {
  min-width: 21.5rem;
  min-height: 35rem;
  background: rgba(255, 84, 112, 0.5);
  border-radius: 1rem;
  padding: 1.2rem 1.7rem 2.5rem;
  opacity: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: center;
  user-select: none;
}

.leaderboard-item--active {
  opacity: 1;
  user-select: unset;
}

.leaderboard-item__title--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.leaderboard-item__title--container > * + * {
  margin-left: 1.2rem;
}

.leaderboard-item__title--icon {
  width: 3rem;
  height: 3rem;
}

.leaderboard-item__title--name {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}

.leaderboard-item__avatar--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -3.6rem;
  // position: absolute;
}

.leaderboard-item__avatar--rank {
  position: relative;
  border-radius: 50%;
  background: #FF5470;
  width: 5rem;
  height: 5rem;
  top: 5rem;
  left: 5rem;
  font-size: 2.4rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard-item__avatar--img {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  border: 0.8rem solid #FF5470;
  box-sizing: content-box;
}

.leaderboard-item__avatar--points {
  font-size: 1.2rem;
  font-weight: 800;
  position: relative;
  width: 12.5rem;
  height: 2.4rem;
  bottom: 2rem;
  background: #FF5470;
  box-shadow: 2px 4px 8px rgba(255, 84, 112, 0.3);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaderboard-item__identifier {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}

.leaderboard-item__name {
  font-weight: bold;
  font-size: 1.8rem;

}

.leaderboard-item__expertise {
  font-weight: 600;
  font-size: 1.8rem;

}

.leaderboard-item__fact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.4rem;
}

.leaderboard-item__fact > * + * {
  margin-left: 0.5rem;
}

.leaderboard-item__fact--icon {
  width: 4.5rem;
  height: 4.5rem;
}

.leaderboard-item__fact--name {
  font-size: 1.3rem;
  font-weight: bold;
  width: 7.2rem;
}

.leaderboard-item__view-button {
  width: 13rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
  background: #FF5470;
  margin: 0 auto;
}
