.top-img__1--container {
  margin-bottom: 2.5rem;
}

.top-img__1--background {
  background: url(/images/top-img-blue.png);
    height: 7.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    margin: 2rem 0;
}

.top-img__1--logo {
  background: url(/images/logo.svg);
    height: 7.5rem;
    background-size: 5.7rem;
    background-position: center;
    background-repeat: no-repeat;
}
