.user__container {
  margin-top: 0.7rem;
  max-width: 110rem;
  margin: 0 auto;
  margin-top: 2.6rem;

  @include respon(xl) {
    margin-top: 2.6rem;
  }
}

.user__info--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user__info--img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  box-shadow: 0rem 0.3rem 0.6rem 0.1rem rgba(2, 2, 1, 0.2);
  object-fit: cover;

  @include respon(xl) {
    width: 17.5rem;
    height: 17.5rem;
    box-shadow: unset;
    margin-bottom: 1rem;
  }
}

.user__info--name {
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.15;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-blue);

  @include respon(xl) {
    font-size: 7.2rem;
    width: 57.4rem;
    line-height: 6.45rem;
    margin-bottom: 1.4rem;
  }
}

.user__info--occupation {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.15;
  color: var(--dark-blue);

  // @include respon(xl) {
  //   font-size: 7.2rem;
  // }
}

.user__action--container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  line-height: 1.15;

  & > * + * {
    margin-top: 1rem;
  }

  @include respon(sm) {
    flex-direction: row;

    & > * + * {
      margin-top: 0;
      margin-left: 1rem;
    }
  }

  & > .action--button {
    font-weight: 700;
    font-size: 1.4rem;
    height: 4.5rem;
    width: 15rem;
    border-radius: 1rem;

    @include respon(xl) {
      font-size: 1.8rem;
      width: 18.5rem;
    }
  }
}

// .action--invite-to-team {
//   background-color: var(--dark-blue);
//   border: 0.15rem solid var(--dark-blue);
//   color: #ffffff;
// }

// .action--direct-message {
//   height: 4.5rem;
//   width: 15rem;
//   background-color: #ffffff;
//   border: 0.15rem solid var(--dark-blue);
//   color: var(--dark-blue);
//   border-radius: 1rem;

//   @include respon(xl) {
//     font-size: 7.2rem;
//     width: 57.4rem;
//     line-height: 6.45rem;
//     margin-bottom: 1.4rem;
//   }
// }

.user__sub-menu--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  text-align: center;
  margin-bottom: 3rem;
  gap: 0.5rem;
}

.user__sub-menu--item {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1rem;
  background-color: #f9f9f9;
  color: var(--dark-blue);
  border-radius: 1rem;
  text-decoration: none;

  @include respon(xl) {
    padding: 0;
    font-size: 2.4rem;
    color: #626262;
  }
}

.user__sub-menu--active {
  background-color: var(--dark-blue);
  color: #ffffff;

  @include respon(xl) {
    background-color: white;
    color: #001534;
  }
}

.user__sub-menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.user__sub-menu--left {
  @include respon(xl) {
    & > * + * {
      margin-left: 5rem;
    }
  }
}

.user__sub-menu--right {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
