.blue {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.65;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  color: #ffffff;
  background-color: var(--dark-blue);
  letter-spacing: 0.02em;

  @include respon(xl) {
    font-size: 1.6rem;
    padding: 0.8rem 2.4rem;
  }
}

.red {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.65;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  // color: #001534;
  background-color: var(--red-glow);

  color: white;

  @include respon(xl) {
    font-size: 1.6rem;
  }
}

.bubble-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  & > * + * {
    margin-left: 0.6rem;
  }
}

.bubble-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.bubble__button--delete {
  user-select: none;
}
