button {
  cursor: pointer;
  user-select: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.btn-loading {
  position: relative;
  pointer-events: none;
  color: transparent !important;

  &:after {
    animation: spinAround 500ms infinite linear;
    border: 0.2rem solid #fff;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
  }
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.btn {
  font-size: 1.8rem;
  font-weight: 700;
  width: 100%;
  border: none;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  letter-spacing: 0.02em;

  @include respon(xl) {
    width: 20rem;
  }

  & > :not(:last-child) {
    margin-right: 0.5rem;
  }

  &:disabled {
    color: #80807e;
    background-color: #f1f1f1;
    border-color: #f1f1f1;
  }

  &:active,
  &:focus {
    outline: none;
    border: none;
  }
}

.btn--min {
  cursor: pointer;
  user-select: none;
}

.btn--red {
  background-color: var(--red-glow);
  color: #020201;
  // color: white;
}

.btn--decline {
  // background-color: #EB2D2D;
  // color: #ffffff;

  // background-color: #FFCDD2;
  // color: #B71C1C;

  background-color: #ffc7d1;
  color: #c50000;
}

.btn--blue {
  background-color: var(--dark-blue);
  color: #ffffff;
}

.btn--white {
  background-color: #ffffff;
  color: var(--dark-blue);
  border: 0.1rem solid var(--dark-blue);

  &:active,
  &:focus {
    outline: none;
    border: 0.1rem solid var(--dark-blue);
  }
}

.btn--border {
  color: var(--dark-blue);
  border: 0.1rem solid var(--dark-blue);
  background-color: transparent;
}

.btn--grey {
  background: #f1f1f1;
  // color: #001534;
  color: var(--dark-blue);
}

.btn--green {
  background-color: #dcedc8;
  color: #558b2f;
}

.btn--accepted {
  width: 9rem;
  height: 3rem;
  background-color: #dcedc8;
  color: #558b2f;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;

  // background-color: #50CD24;
  // color: white;

  @include respon(xl) {
    width: 12rem;
    height: 3.5rem;
    font-size: 1.8rem;
  }
}

.btn--accept {
  width: 9rem;
  height: 3rem;
  background-color: var(--dark-blue);
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  user-select: none;

  @include respon(xl) {
    width: 12rem;
    height: 3.5rem;
    font-size: 1.8rem;
  }
}

.btn--cancel {
  width: 9rem;
  height: 3rem;
  background-color: #ffc7d1;
  color: #c50000;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  user-select: none;

  @include respon(xl) {
    width: 12rem;
    height: 3.5rem;
    font-size: 1.8rem;
  }
}

.btn--details {
  width: 9rem;
  height: 3rem;
  background-color: var(--dark-blue);
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;

  @include respon(xl) {
    width: 12rem;
    height: 3.5rem;
    font-size: 1.8rem;
  }
}

.btn--grey-2 {
  background: #c6c5c5;
  color: #020201;
}

.btn--small {
  height: 4rem;
  border-radius: 1rem;
  font-size: 1.4rem;
}

.btn--large {
  height: 6rem;
  border-radius: 1.5rem;
}

.btn--clear {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
    border: none;
  }
}

.btn--link {
  text-decoration: underline;
  border: unset;
  background-color: unset;
  font-weight: 400;
  color: var(--dark-blue);
}

// .btn--desktop {

// }

.btn--group {
  display: flex;
  flex-direction: column;

  @include respon(xl) {
    flex-direction: row;
  }
}

.btn__small--xl {
  @include respon(xl) {
    height: 4rem;
    border-radius: 1rem;
    font-size: 1.4rem;
  }
}
