.checkbox-group {
  margin-left: 0.5rem;
}

.checkbox-group > * + * {
  margin-top: 0.8rem;
}

.checkbox-group--filters > * + * {
  margin-top: 1.2rem;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox > * + * {
  margin-left: 0.8rem;
}

/* Customize the label (the container) */
.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  // padding-left: 3.5rem;
  // margin-bottom: 1.2rem;
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #484848;
  user-select: none;

  @include respon(xl) {
    font-size: 1.8rem;
  }
}

.checkbox-container--filters {
  & .checkbox-checkmark {
    border: unset;
    background-color: var(--dark-blue);
  }

  & p {
    font-size: 1.4rem;
  }
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: white;
  border-radius: 0.5rem;
  border: 0.3rem solid #020201;
}

.checkbox-checkmark--small {
  height: 1.4rem;
  width: 1.4rem;
}

.checkbox-checkmark-remember {
  border: 0.2rem solid #020201;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkbox-checkmark {
  background-color: #ccc;
}

.checkbox-container--filters:hover input ~ .checkbox-checkmark {
  background-color: var(--dark-blue);
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkbox-checkmark {
  // background-color: var(--red-glow);
  background-color: var(--dark-blue);
  border: unset;
}

.checkbox-container--filters input:checked ~ .checkbox-checkmark {
  background-color: var(--red-glow);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkbox-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkbox-checkmark:after {
  left: 0.75rem;
  top: 0.2rem;
  width: 0.7rem;
  height: 1.4rem;
  border: solid white;
  border-radius: 0.2rem;
  border-width: 0 0.3rem 0.3rem 0;
  transform: rotate(45deg);
}

.checkbox-container--filters .checkbox-checkmark:after {
  border: solid var(--dark-blue);
  border-radius: 0.2rem;
  border-width: 0 0.3rem 0.3rem 0;
  transform: rotate(45deg);
}

.checkbox-container--post {
  padding-left: 3.5rem;
}

.checkbox-group--filter {
  & > * + * {
    margin-left: 1rem;
  }
}

.checkbox-checkmark--filter {
  background-color: #f1f1f1;
  width: 12.8rem;
  height: 4rem;
  color: #020201;
  padding: 0.7rem;
  font-size: 1.4rem;
  line-height: 1;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.checkbox-container input:checked ~ .checkbox-checkmark--filter {
  background-color: var(--dark-blue);
  color: white;
  font-weight: bold;
}
