@keyframes navOpen {
  0% {
    transform: translateX(-100%);
    position: fixed;
  }
  100% {
    transform: translateX(0%);
    position: fixed;
  }
}

@keyframes navClose {
  0% {
    transform: translateX(0%);
    position: fixed;
  }
  100% {
    transform: translateX(-100%);
    position: fixed;
  }
}

@keyframes overlayOpen {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes overlayClose {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  99% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.nav-base {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0 2rem;
  height: 5.5rem;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 5;

  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.1);

  & a {
    text-decoration: none;
  }
}

.nav--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.nav--brand-container {
  text-align: center;
}

.nav-stabilizer {
  width: 3.6rem;
}

.navbar {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem 2.5rem;
  // padding: 1rem 1.8em;
  border-top: 0.5rem solid var(--dark-blue);
  position: absolute;
  opacity: 1;
  width: min(35.8rem, 100vw);
  height: 100vh;
  min-height: 50rem;
  background-color: #ffffff;
  overflow-y: scroll;
  z-index: 20;
  transform: translateX(-100%);
  // left: -100%;

  & a {
    text-decoration: none;
    color: var(--dark-blue);
  }
}

.nav--animate-open {
  animation: navOpen 0.3s var(--bezier) forwards;
}

.nav--animate-close {
  animation: navClose 0.2s var(--bezier) forwards;
}

.nav--overlay {
  position: fixed;
  filter: brightness(0.5);
  height: 100vh;
  width: 100vw;

  background: rgba(0, 0, 0, 0.5);
  z-index: 15;
  opacity: 0;
  // left: -100%;
  transform: translateX(-100%);
}

.nav--overlay-open {
  animation: overlayOpen 0.25s var(--bezier) forwards;
}

.nav--overlay-close {
  animation: overlayClose 0.2s var(--bezier) forwards;
}

.nav-toggler {
  font-weight: 700;
  color: var(--dark-blue);
}

.nav--profile-guest {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;

  & > :not(:last-child) {
    margin-right: 2rem;
  }
}

.nav__profile--guest-desc {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: var(--dark-blue);
}

.nav--profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;

  & > :not(:last-child) {
    margin-right: 2rem;
  }
}

.nav--profile-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(0.1rem 0.4rem 0.4rem rgba(2, 2, 1, 0.3));
  background-image: url("/images/missing-avatar.svg");
  background-size: cover;

  @include respon(xl) {
    width: 3rem;
    height: 3rem;
    filter: none;
  }
}

.nav--profile-desc {
  color: var(--dark-blue);

  & p {
    margin: 0 0 0.75rem 0;
  }

  & p:last-child {
    margin: 0;
  }
}

.nav--profile-name {
  font-size: 1.8rem;
  line-height: 1.15;
}

.nav--profile-expertise {
  font-size: 1.2rem;
  display: flex;
  align-items: center;

  & > :not(:last-child) {
    margin-right: 0.5rem;
  }

  & .iconify {
    width: 1em;
    height: 1em;
  }
}

.nav--profile-points {
  font-size: 1.4rem;
}

.nav--profile-link {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 0 0 0.5rem;
  padding: 1rem 0;
}

a.nav--profile-link {
  color: #ff758b;
}

a.nav--profile-link-active {
  color: var(--dark-blue);
}

.nav-link {
  display: flex;
  padding: 1.2rem 2rem;
  align-items: center;

  & > :not(:last-child) {
    margin-right: 3rem;
  }
}

.nav-group {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
}

.link-login {
  width: 100%;
  background-color: var(--red-glow);
  text-align: center;
  padding: 1.2rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  padding: 1.2rem 2rem;
}

.link-register {
  width: 100%;
  text-align: center;
  padding: 1.2rem;
  border-radius: 1rem;
  padding: 1.2rem 2rem;
  border: 0.1rem solid var(--dark-blue);
}

a.nav--active-link {
  background: var(--dark-blue);
  border-radius: 1rem;
  color: #ffffff;
}

.nav-separator {
  border-style: solid;
  border: none;
  border-bottom: 0.1rem solid var(--dark-blue);
}

.button-logout {
  width: 100%;
  background-color: var(--red-glow);
  color: white;
  text-align: center;
  padding: 1.2rem;
  border-radius: 1rem;
  margin-top: 2.5rem;
}

/* For Adaptive Desktop */

.desktop-nav {
  display: flex;
  flex-direction: row;
  padding: 0 3rem;
  align-items: center;
  height: 9.2rem;
  position: fixed;
  width: min(100%, 100vw);
  background-color: #ffffff;
  z-index: 5;

  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.1);
}

.desktop-nav__container {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
}

.desktop-nav__right {
  margin-left: auto;
  // margin-top: 1.1rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  & .desktop-nav__link {
    padding: 0;
  }
}

.desktop-nav__right-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > * + * {
    margin-left: 1.2rem;
  }
}

.desktop-nav__right-icon {
  background-color: var(--dark-blue);
  padding: 0 1rem;
  height: 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  & a {
    display: flex;
  }

  & .desktop-nav__link {
    color: white;
    font-size: 1.4rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    padding: 0 0.2rem;
    transition: all 0.1s;
  }

  & .desktop-nav__link:not(:last-child):hover {
    transform: scale(1.5);
  }

  & > * + * {
    margin-left: 1.5rem;
  }
}

.desktop-nav__logo {
  height: 4.2rem;
  width: 9.5rem;
  margin-bottom: 1.4rem;
}

.desktop-nav__link--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5.5rem;
  // margin-top: 1.1rem;

  & > * + * {
    margin-left: 3.5rem;
  }

  & > .desktop-nav__link:hover {
    border-radius: 0.5rem;
    background-color: #f2f4f6;
  }
}

a.desktop-nav__link {
  text-decoration: unset;
}

.desktop-nav__link {
  font-size: 1.8rem;
  color: var(--dark-blue);
  // line-height: 3.8rem;
  height: 4rem;
  // border-radius: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
}

.desktop-nav__active-link {
  background-color: var(--dark-blue);
  color: white;
  font-weight: bold;
  border-radius: 1rem;
  // border-bottom: 0.4rem solid var(--dark-blue);

  &:hover {
    background-color: var(--dark-blue) !important;
    color: white !important;
  }
}

.profile-photo {
  width: 2rem;
  height: 2rem;
  margin: -0.375rem 0;
}

.navbar__box-shadow {
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.1);
}

.btn--sign-in {
  @include respon(xl) {
    margin-left: 3rem;
    width: 11rem;
  }
}

.tooltip {
  display: none;
  background: var(--dark-blue);
  padding: 0.6em 1em;
  border-radius: 0.4rem;
  position: absolute;
  z-index: 1;
  top: 3.2em;
  left: -1em;
  font-size: 0.8em;
  font-weight: 600;
}

.desktop-nav__link:hover .tooltip {
  display: block;
}

.dropdown {
  position: relative;
  display: flex;
  padding: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 4.2em;
  right: -0.8rem;
  background-color: white;
  border-top: 0.5rem solid var(--dark-blue);
  min-width: 18rem;
  box-shadow: 0.2rem 0.5rem 2rem rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 0.5rem;
}

.dropdown-content a {
  color: var(--dark-blue);
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
}

.dropdown-content a:hover {
  background-color: #f2f4f6;
}

.dropdown-hover .dropdown-content {
  display: block;
}

.btn-text--decline {
  font-size: 1.4rem;
  padding: 1.2rem 1.6rem;
  width: 100%;
  text-align: left;
  font-weight: 400;

  &:hover {
    background-color: #ffc7d1;
    color: #c50000;
  }
}
