.project-box__container {
  display: flex;
  flex-direction: column;
  padding: 1.8rem 2.5rem;
  background: #f2f4f6;
  border-radius: 1rem;
}

.project-box__top-container {
  display: flex;
  flex-direction: row;

  & > * + * {
    margin-left: 1.6rem;
  }

  @include respon(xl) {
    & > * + * {
      margin-left: 2.6rem;
    }
  }
}

.project-box__img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 0.5rem;
  background-image: url("/images/missing-avatar.svg");
  background-size: cover;

  @include respon(xl) {
    width: 10rem;
    height: 10rem;
  }
}

.project-box__content--container {
  display: inline-grid;
  width: 100%;

  @include respon(xl) {
    display: block;
  }
}

.project-box__content {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  line-height: 1.15;

  @include respon(xl) {
    margin-bottom: 1rem;
  }
}

.project-box__name {
  font-weight: 700;
}

.project-box__name-action {
  font-weight: 400;

  @include respon(xl) {
    font-weight: 700;
  }
}

.project-box__bottom-container {
  margin-top: 2.2rem;

  @include respon(xl) {
    margin: auto 0 auto 2.5rem;
  }
}

.project-box__details--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-box__close-button {
  width: 1.4rem;
  height: 1.4rem;
  color: #9d9d9d;
  user-select: none;
  cursor: pointer;
}

.project-box__details {
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4rem;
  user-select: none;
  cursor: pointer;
}

.project-box__project-title {
  color: var(--dark-blue);
  font-weight: bold;
}

.project-box__project-link {
  text-align: center;
  display: block;
  margin: 1rem 0;
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.project-box__agree-button {
  padding: 1rem 0;
  background: var(--dark-blue);
  color: white;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.project-box__decline-button {
  padding: 1rem 0;
  background: #eb2d2d;
  color: white;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.project-box__message {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.3;
  @include line-clamp(2);

  @include respon(xl) {
    font-weight: 400;
    line-height: 1.65;

    @include line-clamp(4);
  }
}

.project-box__item--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  @include respon(xl) {
    & > * + * {
      margin-top: 1.2rem;
    }
  }
}

.project-box__item--img {
  width: 9rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 0.5rem;
  background-image: url("/images/img-placeholder.png");
  background-size: cover;
  background-position: center;

  @include respon(sm) {
    width: 10rem;
  }
}

.project-box__item--status {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.36rem;
  font-weight: bold;

  & > * + * {
    margin-left: 0.5rem;
  }

  @include respon(sm) {
    font-size: 1.4rem;
  }

  @include respon(xl) {
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
  }
}

.project-box__item--lecture-statuses {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 0.4rem;
  }

  @include respon(xl) {
    flex-direction: row;

    & > * + * {
      margin-top: 0;
      margin-left: 2rem;
    }
  }
}

.project-box__item--status-lecturer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.1rem;

  & > * + * {
    margin-left: 0.5rem;
  }

  // @include respon(sm) {
  //   font-size: 1.1rem;
  // }
}

.project-box__item--status-blue {
  color: var(--dark-blue);
}

.project-box__item--status-red {
  color: #eb2d2d;
}

.project-box__item--icon {
  width: 1.8rem;
  height: 1.8rem;

  @include respon(sm) {
    width: 2rem;
    height: 2rem;
  }

  @include respon(xl) {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.project-box__item--lecturer-icon {
  width: 1rem;
  margin-left: 0.2rem;
  // height: 1em;
}

.project-box__item--title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #020201;
  line-height: 1.25;
  word-break: break-word;
  @include line-clamp(2);

  @include respon(sm) {
    font-size: 1.8rem;
  }

  @include respon(xl) {
    font-size: 2.4rem;
  }
}

.project-box__item--details {
  font-size: 1.4rem;
  text-decoration: underline;
  font-weight: bold;
}

.project-box__item--p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.project-box__item--button-group {
  display: flex;
  flex-direction: column;

  @include respon(sm) {
    flex-direction: row;
  }

  @include respon(xl) {
    flex-direction: column;
  }
}

.project-box__item--button-group > * + * {
  margin-top: 1rem;

  @include respon(sm) {
    margin-left: 1rem;
    margin-top: 0;
  }

  @include respon(xl) {
    margin-left: 0;
    margin-top: 1rem;
  }
}

.project-box__item--icon {
  min-width: 3.5rem;

  & > * + * {
    margin-top: 0.5rem;
  }

  @include respon(xl) {
    min-width: unset;
  }
}

.project-box__item--text {
  font-size: 1.2rem;

  @include respon(xl) {
    font-size: 1.1rem;
  }
}

.project-box__item--summaries {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 0.5rem;
  }

  @include respon(xl) {
    flex-direction: row;

    & > * + * {
      margin-top: 0;
      margin-left: 2rem;
    }
  }
}

.candidates__modal--h4 {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}

.candidates__modal--h5 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.candidates__waiting--avatar {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: cover;
  border-radius: 50%;
  background-image: url("/images/missing-avatar.svg");
  background-size: cover;

  @include respon(xl) {
    width: 6.5rem;
    height: 6.5rem;
  }
}

.candidates__avatar {
  width: 6.5rem;
  height: 6.5rem;
  object-fit: cover;
  border-radius: 50%;
  background-image: url("/images/missing-avatar.svg");
  background-size: cover;
}

.candidates__name {
  font-size: 1.8rem;
  font-weight: 700;
}

.candidates__expertise {
  font-size: 1.8rem;
  font-weight: 600;
}

.candidates__list {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 1.6rem;
  }

  // @include respon(lg) {
  //   display: grid;
  //   grid-template-columns: repeat(auto-fill, 44rem);

  // }
}
