select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  background-color: transparent;
  border: none;
  padding-left: 1.8rem;
  padding-right: 4rem;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  // Stack above custom arrow
  z-index: 1;

  // Remove dropdown arrow in IE10 & IE11
  // @link https://www.filamentgroup.com/lab/select-css.html
  &::-ms-expand {
    display: none;
  }

  // Remove focus outline, will add on alternate element
  outline: none;
}

select option {
  // background-color: var(--dark-blue);
  // color: white;
  padding: 1rem;
}

option:checked {
  display: none;
}

option {
  background-color: #f1f1f1;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;

  select,
  &::after {
    grid-area: select;
  }

  max-width: 100%;

  cursor: pointer;

  border: unset;
  border-radius: 1rem;
  background-color: #f1f1f1;
  font-size: 1.4rem;
  line-height: 4.5rem;

  @include respon(xl) {
    font-size: 1.8rem;
  }

  // Custom arrow
  &::after {
    content: "";
    justify-self: end;
    width: 0.5em;
    height: 0.5em;
    margin-right: 1.8rem;
    margin-bottom: 0.1rem;
    border: 0.2rem solid #b0aeae;
    border-width: 0 0.2rem 0.2rem 0;
    transform: rotate(45deg);
  }
}

// Interim solution until :focus-within has better support
select:focus + .focus {
  position: absolute;
  top: -0.1rem;
  left: -0.1rem;
  right: -0.1rem;
  bottom: -0.1rem;
  border: 0.2rem solid var(--dark-blue);
  border-radius: inherit;
}

.select--small {
  width: 100%;
  max-width: unset;

  @include respon(xl) {
    max-width: 20rem;
  }
}

.select--border {
  border: 1px solid #b0aeae;
  background-color: unset;
  line-height: 4rem;

  & option {
    background-color: #fff;
  }
}
