/* animation */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveInBottomLeft {
  0% {
    opacity: 0;
    transform: translateX(100px) translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) translateY(0);
  }
}


.fadeIn {
  animation-name: fadeIn;
}

.moveInTop {
  animation-name: moveInTop;
}

.moveInLeft {
  animation-name: moveInLeft;
}

.moveInRight {
  animation-name: moveInRight;
}

.moveInBottom {
  animation-name: moveInBottom;
}

.moveInBottomLeft {
  animation-name: moveInBottomLeft;
}

.duration--0_5 {
  animation-duration: 0.5s;
}

.duration--1 {
  animation-duration: 1s;
}

.duration--1_5 {
  animation-duration: 1.5s;
}

.duration--2 {
  animation-duration: 2s;
}

.delay--1 {
  animation-delay: 1s;
}

.delay--1_5 {
  animation-delay: 1.5s;
}


/* Custom Animations */

@keyframes moveInRightDash {
  0% {
    opacity: 0;
    transform: translateX(-100px) translateY(-25%);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) translateY(-25%);
  }
}

.moveInRightDash {
  animation-name: moveInRightDash;
}
