.ellipsies {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mb-0_5 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1_5 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-2_5 {
  margin-bottom: 2.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-1_5 {
  margin-top: 1.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-2_5 {
  margin-top: 2.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4_5 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mr-0_5 {
  margin-right: 0.5rem;
}

.mr-1_5 {
  margin-right: 1.5rem;
}

.mr-2_5 {
  margin-right: 2.5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-1_5 {
  margin-left: 1.5rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.pl-0 {
  padding-left: 0;
}

.pt-5 {
  padding-top: 5rem;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link--clean {
  text-decoration: none;
  color: #020201;
}

.ph-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.align-self-end {
  align-self: flex-end;
}

.text-center {
  text-align: center;
}

.text-normal {
  text-transform: unset;
}

.invisible {
  visibility: hidden;
}

.none {
  display: none;
}

.pointer {
  cursor: pointer;
  user-select: none;
}

.unselectable {
  user-select: none;
}

.overflow-hidden {
  overflow: hidden;
}

.justify-center {
  justify-content: center;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
}

.row-reverse {
  flex-direction: row-reverse;
}

.uppercase {
  text-transform: uppercase;
}

.separator-short {
  border-style: solid;
  border: none;
  border-bottom: 0.05rem solid var(--dark-blue);
}

.img {
  width: 100%;
}

.h100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.round {
  border-radius: 50%;
}

.z-1 {
  z-index: 1;
}

.opacity-1 {
  opacity: 1;
}

.margin-0_5 {
  margin: 0.5rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.font-size-1_2 {
  font-size: 1.2rem !important;
}

.pre {
  white-space: pre;
}

.primary-color {
  color: #00214D;
}
