.forgot-password__container {
  height: calc(100vh - var(--mobile-nav-height) - 0.5rem - 3rem);
  display: flex;
  flex-direction: column;
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;

  @include respon(xl) {
    height: unset;
    margin: auto;
  }
}

.forgot-password__h2 {
  margin-top: 0;
  margin-bottom: 3rem;
  font-weight: 800;
  font-size: 2.4rem;
}

.forgot-password__p {
  font-size: 1.4rem;
  text-align: center;
  @include respon(xl) {
    max-width: 53rem;
    margin: 0 auto;
  }
}

.forgot-password__further-information {
  font-size: 1.2rem;
  text-align: center;
}

.invalid-feedback {
  margin-top: 0.4rem;
  font-size: 1.4rem;
  border-radius: 1rem;
  background-color: #ffc7d1;
  color: #c50000;
  padding: 1rem 2.4rem;
}

.forgot-password__form--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-top: 3rem;

  @include respon(xl) {
    margin-top: 6rem;
  }
}

.forgot-password__input {
  width: 100%;
  border: unset;
  background-color: #f1f1f1;
  font-size: 1.8rem;
  padding: 0 1.2rem;
  height: 4.5rem;
  border-radius: 1rem;
  line-height: 1.65;
  border-left: 0.6rem solid var(--dark-blue);

  @include respon(xl) {
    width: 42rem;
    max-width: 42rem;
  }
}

.input-w-100-sm {
  width: 100%;

  @include respon(xl) {
    width: revert;
  }
}
