.newcomer__container {
  padding: 1.2rem 3.2rem 4rem;
  min-height: 100vh;
  display: flex;
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
}

.stepper-wrap {
  width: 100%;
  margin-bottom: 3rem;
}

.stepper-wrap:after {
  clear: both;
  height: 0;
  width: 100%;
  content: "";
  display: block;
}

.stepper {
  padding-left: 0;
}

.stepper li {
  counter-increment: step;
  list-style-type: none;
  float: left;
  width: 33%;
  position: relative;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #c8c8c8;

  @include respon(xl) {
    font-size: 2.4rem;
  }
}

.stepper li:before {
  content: counter(step);
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 3.4rem;
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
  border: 0.8rem double #c8c8c8;
  display: block;
  text-align: center;
  margin: 0 auto 1rem;
  background-color: white;
  color: #c8c8c8;

  @include respon(xl) {
    font-size: 4.8rem;
    line-height: 7.2rem;
    width: 7.2rem;
    height: 7.2rem;
  }
}

// .stepper li:first-child:before {
//   // margin-left: 0;
// }

// .stepper li:last-child:before {
//   // margin: ;
// }

.stepper li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: #ddd;
  top: 2.4rem;
  left: -50%;
  z-index: -1;

  @include respon(xl) {
    top: 4.4rem;
  }
}

.stepper li:first-child:after {
  content: none;
}

.stepper li.active {
  color: #020201;
}

.stepper li.active:before {
  border-color: #020201;
  background-color: white;
  color: #020201;
}

.newcomer__h2 {
  font-weight: 800;
  font-size: 2.4rem;
  text-align: center;

  @include respon(xl) {
    font-size: 4.8rem;
    font-weight: 800;
  }
}

.newcomer__hire--container {
  display: grid;
  grid-template-columns: 1.8fr 2fr;
  gap: 2.5rem;
  align-items: center;
  background: #f1f1f1;
  margin-bottom: 5rem;
  padding: 1.6rem;
  border-radius: 1rem;
}

.newcomer__hire--text {
  font-weight: 600;
  font-size: 1.6rem;
}

.newcomer__hire--button-group {
  display: flex;
  flex-direction: row;
  justify-self: end;
}

.newcomer__hire--button-group > * + * {
  margin-left: 1rem;
}

.newcomer__hire--button {
  display: block;
  text-align: center;
  width: 6rem;
  height: 3rem;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 3rem;
  border: 0.1rem solid #020201;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.newcomer__add-experience {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.2rem;
}

.newcomer__add-experience > * + * {
  margin-left: 0.5rem;
}

.newcomer__slide-3--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newcomer__slide-3--heading {
  margin-top: 0;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  // line-height: 3.5rem;
}

.newcomer__slide-3--text {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.15rem;
}

.newcomer__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newcomer__footer > * + * {
  margin-top: 0.6rem;
}

.newcomer__btn--upload {
  @include respon(xl) {
    width: 22.5rem;
  }
}

.newcomer__btn--delete {
  @include respon(xl) {
    width: 12.5rem;
  }
}


