.profile--container {
  margin-top: 0.7rem;
}

.profile__info--container {
  margin-bottom: 2rem;

  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F2F4F6;
  border-radius: 2rem;
  box-shadow: 0px 2px 6px rgba(119, 114, 114, 0.2);
  padding: 2rem 1rem;

  @include respon(s) {
    padding: 1.5rem 2.5rem 1.5rem 1.5rem;
    flex-direction: row;
  }
}

.profile__info--img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;

  @include respon(s) {
    margin-right: 3rem;
    margin-bottom: 0;
  }
}

.profile__info--name {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.15;
  margin: 0 0 0.3rem;
}

.profile__info--occupation {
  color: #757575;
  margin: 0 0 0.5rem;
  line-height: 1.45;
}

.profile__info--expertise {
  font-weight: 600;
  margin: 0 0 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.45;
}

.profile__info--available {
  color: #7FFA53;
  font-weight: 700;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.45;
}

.profile__info--verified {
  color: #3051DF;
  font-weight: 700;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.45;
  font-style: italic;
}

.profile__info--edit-profile {
  margin-bottom: 3.5rem;
  width: 100%;
  padding: 1rem 2rem;
  background: var(--red-glow);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 0.5rem;

  color: white;
}

.edit-profile__link {
  color: #001534;
  text-decoration: none;
}

.profile__sub-menu--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  margin-bottom: 3.5rem;
}

.profile__sub-menu--item {
  background-color: #F9F9F9;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #001534;
}

.profile__sub-menu--active {
  background-color: var(--red-glow);
  font-weight: 700;

  color: white;
}

.edit-profile__top-decore {
  background: url(/images/edit-profile-top.png);
  height: 7.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  margin: 2rem 0;
}

.edit-profile__inside-top-decore {
  background: url(/images/logo.svg);
  height: 7.5rem;
  background-size: 5.7rem;
  background-position: center;
  background-repeat: no-repeat;
}
.tagname {
  font-weight: 600;
}
